@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack Nerd Font;
    font-size: 15px;
}

#waybar {
  /* border: 2px solid #1d2021; */
  /* border-radius: 20px; */
}

window#waybar {
  /*background-color: shade(@base, 0.9);*/
  background-color: #000000;
  /*opacity: 0.85;*/
}

#workspaces button {
  /* margin: 5px; */
  color: #665c54;
  margin: 0 -10px;
}

#workspaces button.focused {
  color: #ffffff;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}






#clock,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#pulseaudio,
#battery {
  color: #ffffff;
  margin-right: 20px;
}

#window,
#workspaces {
    /* margin: 0 4px; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


