snippet env "Environment" bA
\begin{$1}
$2
\end{$1}
endsnippet

snippet se "Section" bA
\section{$1}
endsnippet

snippet ss "Subsection" bA
\subsection{$1}
endsnippet

snippet up "usepackage" bA
\usepackage{$1}
endsnippet

snippet it "Italics"
\textit{$1}
endsnippet

snippet ul "Underline"
\underline{$1}
endsnippet

snippet bf "Bold"
\textbf{$1}
endsnippet
